<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "회원가입" }) %>

  <body>
    <%- include("../includes/header") %>

    <main>
      <section class="form">
        <h1>회원가입</h1>
        <form action="/sign-up" method="POST">
          <ul>
            <li>
              <input
                type="text"
                id="user-id"
                name="userId"
                placeholder="ID"
                value="<%= flashData.id %>"
                required
              />
            </li>
            <li>
              <input
                type="password"
                id="user-pw"
                name="userPw"
                placeholder="Password"
                value="<%= flashData.pw %>"
                required
              />
            </li>
            <li>
              <input
                type="password"
                id="pw-check"
                name="pwCheck"
                placeholder="Password 확인"
                value="<%= flashData.pwCheck %>"
                required
              />
            </li>
            <li>
              <% if (flashData.errorComment) { %>
                <p class="err"><%= flashData.errorComment %></p>
              <% } else { %>
                <br>
              <% } %>
            </li>
            <li>
              <button class="blue-btn" type="submit">가입</button>
            </li>
          </ul>
        </form>
      </section>
    </main>

    <%- include("../includes/footer") %>
  </body>
</html>
